.chat-main
  .main-header
    .main-header__box
      .main-header__left-box
        %h2.main-header__left-box__current-group
          開発グループ
        %ul.main-header__left-box__member-list
          %li.main-header__left-box__member-list__member
      %a{:href => "/groups/23645/edit"}
        .main-header__edit-btn
  .messages
  .form
